* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main .about-text {
    width: 50rem;
    justify-self: center;    
}

main .about-text p {
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-wrapper {
    width: 100vw;
}

.img-wrapper img {
    width: 100%;
    height: 8rem;
    object-fit: contain;
}

main img {
    max-width: 100%;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 821px) {

    header nav.left {
        display: none;
    }

    header nav.right {
        justify-self: end;
    }
    
    main .about-text {
        width: 30rem;
    }

}

@media screen and (max-width: 502px) {

    main .about-text {
        width: 20rem;
    }

}
