header nav.right ul {
    text-align: right;
}

h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.search {
    display: grid;
    place-items: center;
}

.search form {
    width: 100%;
    display: grid;
}

.search form input {
    width: 30rem;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    justify-self: center;
    margin-bottom: 2rem;
}

.search h2 {
    text-align: center;
    width: fit-content;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 98vw;
    width: 100vw;
}

main a:visited {
    color: pink;
}

main a .card:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 5px 5px grey;
    transform: translate(-3%, -3%);
}

main .card {
    width: 15rem;
    height: 30rem;
    text-align: center;
    margin: 1rem;
    border: white 1px solid;
    border-radius: 5px;
    padding: 1rem;
    line-height: 1.5rem;
    display: grid;
    background-color: rgb(19, 18, 18);
}

main .card img {
    width: 12rem;
    height: 17rem;
    object-fit: contain;
    justify-self: center;
}

main .card h3 {
    font-size: 1rem;
    font-family: sans-serif;
}

main .card h3.name { 
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

main .card h3.director {
    font-size: 0.75rem;
}

main .card h3.actors {
    font-size: 0.75rem;
}

main a {
    text-decoration: none;
}

a.top {
    width: 200px;
    height: 50px;
    font-size: 2rem;
    background-color: crimson;
    border: none;
    border-radius: 30px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 10;
    text-decoration: none;
    padding: 0.5rem;
}



/* MEDIA QUERIES */
@media screen and (max-width: 1342px) {

    .search {
        width: 50rem;
        margin-left: 15rem;
    }

    .search form {
        margin-left: 20rem;
    }

}

@media screen and (max-width: 1139px) {
    .search {
        margin-left: 10rem;
    }

    .search form {
        margin-left: 20rem;
    }

}

@media screen and (max-width: 986px) {
    .search {
        margin-left: 5rem;
    }

    .search form {
        margin-left: 20rem;
    }

    main .card img {
        margin: 0;
    }

}

@media screen and (max-width: 886px) {
    .search {
        margin-left: 0rem;
    }

    .search form {
        margin-left: 20rem;
    }

    main .card {
        width: 20rem;
    }

    header {
        margin-right: 3rem;
    }

}

@media screen and (max-width: 655px) {
    .search {
        margin-left: -5rem;
    }

    .search form {
        margin-left: 20rem;
    }

    main .card {
        width: 20rem;
    }

}

@media screen and (max-width: 435px) {
    .search {
        margin-left: 5rem;
    }

    .search form {
        margin-left: 20rem;
    }

    h2 {
        text-align: center;
    }

    main .card {
        margin-left: 30rem;
    }

}

@media screen and (max-width: 369px) {

    .search form input {
        width: 30rem;
    }

    main .card {
        height: 50rem;
    }

}