header nav.right ul {
    text-align: right;
}

h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 5rem;
}

.search {
    display: grid;
}

.search form {

    width: 50rem;

    margin-left: 30rem;


}

.search form input {
    width: 30rem;
    height: 30px;
    text-align: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.search h2 {
    text-align: center;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 98vw;
    margin-top: 4rem;
    width: 100vw;
}

main a:visited {
    color: pink;
}

main a .card:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 5px 5px grey;
    transform: translate(-3%, -3%);
}

main .card {
    width: 15rem;
    height: 30rem;
    text-align: center;
    margin: 1rem;
    border: white 1px solid;
    border-radius: 5px;
    padding: 1rem;
    line-height: 1.5rem;
    display: grid;
    grid-auto-rows: auto;
    background-color: rgb(19, 18, 18);
}

main .card img {
    width: 12rem;
    height: 17rem;
    object-fit: contain;
    justify-self: center;
}

main .card h3 {
    font-size: 1rem;
    font-family: sans-serif;
}

main .card h3.name { 
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

main .card h3.director {
    font-size: 0.75rem;
}

main .card h3.actors {
    font-size: 0.75rem;
}

main a {
    text-decoration: none;
}