

main form {
    display: grid;
    width: 40rem;
    place-self: center;
}

main form label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 1rem;

}

main form input {
    font-size: 1.5rem;
}

main form textarea {
    height: 15rem;
}

main form button {
    width: 100px;
    height: 30px;
    margin-top: 1rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    justify-self: right;
}

/* MEDIA QUERIES  */
@media screen and (max-width: 688px) {

    main form {
        width: 30rem;
    }
}

@media screen and (max-width: 499px) {

    main form {
        width: 20rem;
    }
}