

main form {
    text-align: left;
    display: grid;
    width: 40rem;
    
    
}

main form label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 1rem;

}

main form input {
    font-size: 1.5rem;
}

main form textarea {
    height: 15rem;
}

main form button {
    width: 100px;
    height: 30px;
    margin-top: 1rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    justify-self: right;
}

/* MEDIA QUERIES  */
@media screen and (max-width: 1182px) {
    
    main form {    
        margin-left: 20rem;
    }

    
}

@media screen and (max-width: 1054px) {
    
    main form {    
        margin-left: 15rem;
        margin-top: 7rem;
    }

    
}

@media screen and (max-width: 896px) {

    header {
        margin-right: 5rem;
    }
    
    main form {    
        margin-left: 10rem;
        margin-top: 10rem;
    }

    
}

@media screen and (max-width: 896px) {
    
    main form {    
        margin-left: 5rem;
        margin-top: 10rem;
    }

    
}

@media screen and (max-width: 747px) {
    
    main form {    
        width: 30rem;
    }

    
}

@media screen and (max-width: 577px) {
    
    main form {    
        width: 20rem;
    }

    
}

@media screen and (max-width: 577px) {
    
    main form {    
        width: 20rem;
    }

    
}