header nav.left ul li:first-child {
    border-bottom: none;
}

main {
    display: grid;
}

main .card {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 40rem;
    height: 20rem;
    place-items: center;
    justify-self: center;
    box-shadow: 5px 5px 5px 5px grey;
}

iframe {
    margin-top: 2rem;
}

main .about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    margin-left: 2rem;
    place-items: center;
}

main .about img.link-logo {
    width: 200px;
}

main button {
    width: 300px;
    height: 50px;
    margin-top: 2rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    justify-self: start;
}

main button.chat {
    width: fit-content;
    padding: 0.5rem;
    justify-self: start;
}

main .buttons {
    justify-self: start;
    margin-left: 2rem;
    display: grid;
}


