header nav.left ul li:first-child {
    border-bottom: none;
}

main {
    display: grid;
}

main .card {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 40rem;
    height: 20rem;
    place-items: center;
    justify-self: center;
    box-shadow: 5px 5px 5px 5px grey;
}

.film-wrapper {
    overflow: hidden;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

main .about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    place-items: center;
}

main .about img.link-logo {
    width: 200px;
}

main button {
    width: 300px;
    height: 50px;
    margin-top: 2rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    justify-self: start;
}

main button.chat {
    width: fit-content;
    padding: 0.5rem;
    justify-self: start;
}

main .buttons {
    justify-self: start;
    margin-left: 2rem;
    display: grid;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1139px) {

    main .about {
        grid-template-columns: auto;
        grid-gap: 2rem;
    }

    main .buttons {
        justify-self: center;
    }

    main button.chat {
        justify-self: center;
    }

}

@media screen and (max-width: 683px) {

    main .card {
        grid-template-columns: auto;
        width: 20rem;
        height: 40rem;
        justify-self: center;
 
    }

    .film-wrapper {
        justify-self: start;
    }

    
    
}