main {
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: left;
    width: 100vw;
}

main .personal-info {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 2em;
    justify-self: start;  
    grid-gap: 1rem;
    margin-left: 2em;
}

main .personal-info img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-self: end;
}

main .personal-info h4 {
    justify-self: center;
}

main h3.title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    justify-self: start;
}

main .to-watch {
    width: 100% !important;
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    justify-content: start;
    margin-left: 6rem;
    overflow-y: hidden;
}

main .watched {
    margin-bottom: 2rem;
}

/* MEDIA QUERIES  */
@media screen and (max-width: 638px) {

    header nav.left {
        display: initial;
    }

    header nav.left li a {
        font-size: 1rem;
    }

}


