* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    font-family: sans-serif;

}

header {
    height: 4rem;
    margin-bottom: 2rem;
    color: white;
    display: grid;
    grid-template-columns: 250px 1fr 400px;

}

header img {
    border: white solid 2px;
    border-radius: 30px;
    margin: 1rem;
}

header nav {
    margin: 1rem;
    padding-top: 1.5rem;
}

header nav.left {
    justify-self: start;
    margin-left: 2rem;
}

header nav ul li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
    font-size: 2rem;
}

header nav ul li a {
    text-decoration: none;
    padding-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul li a:hover {
    color: fuchsia;
    transition: 1s;
}

header nav ul li a:visited {
    color: grey;
    transition: 1s;

}

header nav ul li a.active {
    border-bottom: solid 2px white;
}

header nav.right ul li a {
    border: solid white 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: white;
    color: black;

}

header nav.right ul li:hover {
    background-color: darkgrey;
    transition: 1s;

}

main {
    position: relative;
    text-align: center;
    color: white;
}

main h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    animation: blinking 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;

    
}


@keyframes blinking{
    0%{   color: white;   }
    47%{   color: #000; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: #000;   }
    }




