* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    background-color: black;
    min-height: 100vh;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;

}

header img {
    max-width: 100%;
    
}

header nav {
    margin: 1rem;
    padding-top: 1.5rem;
}

header nav.left {
    justify-self: start;
    margin-left: 2rem;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
    font-size: 2rem;
}

header nav ul li a {
    text-decoration: none;
    padding-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    text-align: center;

}

header nav ul li a:hover {
    color: fuchsia;
    transition: 1s;
}

header nav ul li a:visited {
    color: grey;
    transition: 1s;

}

header nav ul li a.active {
    border-bottom: solid 2px white;
}

header nav.right ul li a {
    border: solid white 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: white;
    color: black;
}

header nav.right ul li:hover {
    background-color: darkgrey;
    transition: 1s;
}

main {
    display: grid;
    place-items: center;
    color: white;
}

main .wrapper {
    background-image: url("https://cdn.pixabay.com/photo/2019/10/28/10/19/old-frame-4583939_960_720.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    place-items: center;
}

main h2 {
    color: white;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    animation: blinking 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
    text-align: center;
}


@keyframes blinking {
    0%{   color: white;   }
    47%{   color: #000; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: #000;   }
    }

/* MEDIA QUERIES */
@media screen and (max-width: 778px) {

    main .wrapper {
        background-size: 85%;
    }
}

@media screen and (max-width: 642px) {

    header nav {
        font-size: 1.5rem;
    }

    header nav.left {
        display: none;
    }

    header nav.right {
        justify-self: end;
    }
}

@media screen and (max-width: 516px) {
    
    header nav.right ul li a {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 495px) {
    
    main .wrapper h2 {
        font-size: 1.75rem;
    }

    header nav.right ul li a {
        font-size: 1rem;
    }
}
    

    